
.seconds_card {
    top: 30%;
    border-radius: 10px;
    border: 2px solid gray;
    height: 200px;
    width: 100px;
    background-color: black;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.seconds_unit {
    font-size: 96px;
    position: relative;
    top: 20%;
}
